<html lang="ko">

<head>
    <%- include('../partials/head.ejs')%>

    <title>AVIP Lab - Projects</title>

    <style>
        @import url("/css/footer.css");
        @import url("/css/header.css");
        @import url("/css/form-common.css");
    </style>
</head>

<body>

    <%- include('../partials/header.ejs')%>
    <div class="wrap">
        <div class="box">
            <h3>Add Projects</h3>
        </div>

        <div class="content">
            <form action="/project/write" method="POST">
                <label for="kTitle">Korean Title</label>
                <input type="text" id="kTitle" name="kTitle" placeholder="kTitle" required>
                <label for="eTitle">English Title</label>
                <input type="text" id="eTitle" name="eTitle" placeholder="eTitle" required>
                <label for="position">Position</label>
                <input type="text" id="position" name="position" placeholder="position" required>
                <label for="institution">Institution</label>
                <input type="text" id="institution" name="institution" placeholder="institution" required>       
                <label for="date">Date (YYYY.MM.DD - YYYY.MM.DD)</label>
                <input type="text" id="date" name="date" pattern="^\d{4}\.\d{2}.\d{2} - \d{4}\.\d{2}.\d{2}" placeholder="YYYY.MM.DD - YYYY.MM.DD" required>       
                <label for="budget">Budget</label>
                <input type="text" id="budget" name="budget" placeholder="budget" required>       
                <label for="img">Image</label>
                <input type="file" id="img" name="img" placeholder="img" required>    
                <button>Submit</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>

</body>

</html>