<!-- footer-->
<footer>
    <div class="footer-wrap">
        <div class="left">
            AVIP LAB
        </div>
        <div class="middle">
            <div>
                <p>Applied Vibration-Wave Propagation Laboratory</p>
                <p>Department of Mechanical System Engineering</p>
                <p>Kumoh National Institute of Technology (KIT)</p>
            </div>            
        </div>
        <div class="right">
            <div>
                <p>A : 316 Techno Bldg, Kumoh National Institute of Technology (KIT)<br>
                &nbsp &nbsp 61, Daehak-ro, Gumi-si, Gyeongsangbuk-do, Republic of Korea, 39177</p>
                <p>T : +82 54 478 7341</p>
                <p>E : ykwak@kumoh.ac.kr</p>
            </div>
        </div>
    </div>
    <p class="copyright"> &#xa9 Applied Vibration-Wave Propagation Laboratory. All Rights Reseved</p>
</footer>
<!-- //footer-->