<!-- footer-->
<footer>
    <div class="wrap">
        <div class="left">
            <div class="img">
                <img src="/img/AVIP.png" alt="avip_img">
            </div>
            <div>Applied Vibration-Wave Propagation Laboratory <br>
                Department of Mechanical System Engineering <br>
                Kumoh National Institute of Technology (KIT)
            </div>            
        </div>
        <div class="right">
            <div>
                <p>A : 316 Techno Bldg, Kumoh National Institute of Technology (KIT)<br>
                &nbsp &nbsp 61, Daehak-ro, Gumi-si, Gyeongsangbuk-do, Republic of Korea, 39177 </p>
                <p>T : +82 54 478 7341 </p>
                <p>E : ykwak@kumoh.ac.kr </p>
            </div>
        </div>
    </div>
    <p class="copyright"> &#xa9 Applied Vibration-Wave Propagation Laboratory. All Rights Reseved</p>
</footer>
<!-- //footer-->