 <!-- header -->
 <header>
    <div class="logo">
        <div class="box">
            <a href="/">AVIP LAB</a>
        </div>
    </div>  
    <nav>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutUs">Members</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/publication">Publications</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/course">Course</a></li>
        </ul>
    </nav>
</header>
<!-- //header -->