 <!-- header -->
 <header>
    <div class="logo">
        <a href="/">
            <div class="box">
                <h2>AVIP LAB</h2>
                <h3>Applied Vibration-Wave Propagaton Laboratory</h3>
            </div>
        </a>
    </div>
    <div class="button">
        <% if (isAdmin == 'admin') { %>
            <button type="button" class="btn"><a href="/logout">관리자 로그아웃</a></button>
        <% } else { %>
            <button type="button" class="btn"><a href="/login-form">관리자 로그인</a></button>
        <% } %>
    </div>    
    <nav>
        <ul class="nav-list">
            <li><a href="/aboutUs">Members</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/publication?status=prep">Publications</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/course">Course</a></li>
        </ul>
    </nav>
</header>
<!-- //header -->
