<html lang="ko">

<head>
    <%- include('./partials/head.ejs')%>

    <title>AVIP Lab - Course</title>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/course.css">
</head>

<body>

    <%- include('./partials/header.ejs')%>
    <div class="wrap">

        <div class="left">
            <div class="box">
                <h3>Courses</h3>
            </div>
            <ul>
                <li><a href="/course">Courses</a></li>
            </ul>
        </div>

        <div class="right">
            <div class="semester">
                <h2> Summer Semester, 2021</h2>
                <ul>
                    <li>
                        Deep learning and statistical learning for mechanical engineers
                    </li>
                </ul>
            </div>
    
            <div class="semester">
                <h2> Fall semester, 2021-Present</h2>
                <ul>
                    <li>
                        Engineering mathematics 2
                    </li>
                    <li>
                        Mechatronics creative design
                    </li>
                    <li>
                        Mechanical system experiment 1 
                    </li>
                </ul>
            </div>
    
            <div class="semester">
                <h2> Spring semester, 2021-Present</h2>
                <ul>
                    <li>
                        Engineering vibration
                    </li>
                    <li>
                        Computer programming language (Python & Matlab)
                    </li>
                    <li>
                        Deep learning basic
                    </li>
                    <li>
                        Mechanical system experiment 2 
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <%- include('./partials/footer.ejs')%>

</body>

</html>