@import url("footer.css");
@import url("header.css");
@import url("common.css");

.right {
    display: flex;
    justify-content: space-evenly;
}

.right .img {
    margin-top: 30px;
    width: 47%;
    margin-right: 3%;
}

.right .img img {
    width: 100%;
}

.right .content {
    margin-top: 30px;
    width: 40%;
}

.right .content h3 {
    font-size: 30px;
    margin: 20px 0px;
}

.right .content p {
    line-height: 1.5;
    margin-top: 15px;
}

.right .content .korean {
    font-size: 15px;
}