/* footer */
footer {
    background: #222;
    color: #999;
    font-family: Arial, sans-serif;
}

footer .footer-wrap {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;
    padding: 20px 0px;
    line-height: 2;
}

footer .footer-wrap .left {
    width: fit-content;
    margin-right: 2%;
    font-size: 30px;
    background: #fff;
    color: #000;
    padding: 10px;
}

footer .footer-wrap .middle {
    width: fit-content;
    margin-right: 2%;
}

footer .footer-wrap p {
    margin-bottom: 10px;
}

footer .footer-wrap .right {
    width: fit-content;
}

footer .footer-wrap div {
    width: fit-content;
    margin: auto;
}

footer .copyright {
    font-size: 17px;
    padding: 17px;
    background-color: #333;
}