@import url("footer.css");
@import url("header.css");
@import url("common.css");

.wrap .right .btn {
    margin-top: 30px;
    padding: 5px;
    font-size: 17px;
}

.wrap .right .photos {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.wrap .right .photos .box {
    width: 31%;
    margin-right: 2%;
    margin-bottom: 50px;
    border: 1px solid #aaa;
    object-fit: cover;
    position: relative;
}

.wrap .right .photos .box img {
    width: 100%;
}

