<html lang="ko">

<head>

    <%- include('../partials/head.ejs')%>

    <title>AVIP Lab - Members</title>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/aboutUs.css">
    
</head>

<body>

    <%- include('../partials/header.ejs')%>

    <div class="wrap">

        <div class="left">
            <div class="box">
                <h3>Members</h3>
            </div>
            <ul>
                <li><a href="/aboutUs">About Us</a></li>
                <li><a href="/pi">Principal Investigator</a></li>
                <li><a href="/member">Students</a></li>
                <li><a href="/alumni">Alumni</a></li>
            </ul>
        </div>

        <div class="right">
            <div class="img">
                <img src="/img/test2.png" alt="">
            </div>
            <div class="content">
                <h3>About Us</h3>
                <p class="welcome">Welcome to Applied Vibration-Wave Propagation Laboratory.</p>
                <p class="goal">
                    The goal of our lab is to develop dynamics-based deep learning technology that hybridizes modeling of
                    vibration-wave systems and signal processing, breaking away from limitation of data-driven technologies. We thus interest in "diagnosis method of mechanical systems", "advanced sensing techniques"
                    and "vibrational evaluation of meta-structures" based on vibration-wave analysis.
                </p>
                <p class="korean">
                    저희 연구실에서는 열정 있는 학부인턴 & 대학원생들을 모집하고 있습니다.<br>
                    관심 있는 분은 이메일로 연락 주시기 바랍니다.
                </p>
                <p class="english">
                    We are looking for undergraduate and graduate students with a strong interest and continuous curiosity
                    in fundamental mechanical engineering. Should you have any questions, feel free to reach out to me.
                </p>
            </div>
        </div>

    </div>

    <%- include('../partials/footer.ejs')%>

</body>

</html>