<html lang="ko">

<head>
    <%- include('../partials/head.ejs')%>

    <title>AVIP Lab - Members</title>

    <style>
        @import url("/css/footer.css");
        @import url("/css/header.css");
        @import url("/css/form-common.css");
    </style>
</head>

<body>

    <%- include('../partials/header.ejs')%>
    <div class="wrap">
        <div class="box">
            <h3>Add Members</h3>
        </div>

        <div class="content">
            <form action="/member/write?status=<%= request %>" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="name" required>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="email" required>
                <% if (request == 'student') { %>
                    <label for="status">Status</label>
                    <input type="text" id="status" name="status" pattern="^(grad|under)$" placeholder="grad or under" required>
                    <label for="date">Date</label>
                    <input type="text" id="date" name="date" pattern="^\d{4}\.\d{2}" placeholder="YYYY.MM" required>
                <% } else if (request == 'alumni') { %>
                    <label for="info">소속</label>
                    <input type="text" id="info" name="info" placeholder="info" required>
                <% } %>
                <label for="img">Image</label>
                <input type="file" id="img" name="img" placeholder="img" required>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>

</body>

</html>