<html lang="ko">

<head>
    <%- include('../partials/head.ejs')%>

    <Title>AVIP Lab - PI</Title>

    <style>
        @import url("/css/footer.css");
        @import url("/css/header.css");
        @import url("/css/form-common.css");
    </style>
</head>

<body>

    <%- include('../partials/header.ejs')%>
    <div class="wrap">
        <div class="box">
            <h3>Add Awards</h3>
        </div>

        <div class="content">
            <form action="/pi/awards/write" method="POST">
                <label for="awards">Awards</label>
                <input type="text" id="awards" name="awards" placeholder="awards" required>       
                <button>Submit</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>

</body>

</html>