<html lang="ko">

<head>
    <%- include('../partials/head.ejs')%>

    <title>AVIP Lab - PI</title>

    <style>
        @import url("/css/footer.css");
        @import url("/css/header.css");
        @import url("/css/form-common.css");
    </style>
</head>

<body>

    <%- include('../partials/header.ejs')%>
    <div class="wrap">
        <div class="box">
            <h3>Add Education & Experience</h3>
        </div>

        <div class="content">
            <form action="/pi/eduExp/write" method="POST">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" placeholder="title" required>
                <label for="info">Info</label>
                <input type="text" id="info" name="info" placeholder="info" required>
                <label for="date">Date</label>
                <input type="text" id="date" pattern="^\d{4}\.\d{2} - .*" name="date" placeholder="YYYY.MM - " required>       
                <button>Submit</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>

</body>

</html>